<div
  class="contact-form container bg-white rounded py-4 md:py-8 flex flex-col gap-4"
  style={build_form_styles(@form)}
>
  {render_h1(@form)}
  <h2 class="text-xl">
    {gettext("Your data has been deleted.")}
  </h2>
  <p>
    {gettext("You will not be subscribed to this list.")}
  </p>
  {render_fine_print(@form)}
</div>
